#main{
    width: 100vw;
    /* text-align: center; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    background-color: #005792;
    font-family: a;
    color: white;
    

}
@font-face {
    font-family: a;
    src: url(Super\ Comic.ttf);

}
@font-face {
    font-family: b;
    src: url(Bebas-Regular.ttf);
}
@font-face {
    font-family: c;
    src: url(VCR_OSD_MONO_1.001.ttf);
}
#input{
    display: flex;
    align-items: center;
    justify-content: center;
}


    

#go{
   margin-top: 50px;
    height: 3vw;
    width: 10vw;
    border-radius: 20px;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
}
#label{
    font-size: 2vw;
    font-family:b ;
    font-size: 2.5vw;

}
h1{
    font-size: 4vw;
    padding: 0;
    margin: 0;
    

}
#userinput{
    height: 2vw;
    width: 15vw;

}
#userinput:focus{
    border-color: black;
}
#hint{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
#limit{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:peru;
    font-weight: 800;
    font-size: 1.5vw;
}
#main p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#tag{
    display: flex;
    flex-direction: column;
}
#go:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
}
#userinput:hover{
    filter: brightness(1.5);
    transition: filter 0.3s ease-in;
    border: 2px solid black;
}
#result{
    font-family: c;
    font-size: 2.5vw;
    font-weight: 700;
    text-transform: uppercase;

}